%center{style: 'color: white;'}
  %h1{style: 'margin-top: 35%;'} Thank you for completing the assessment.
  %a{href: 'sign_in'}
    %p{style: 'border: .1em solid white; padding: 2%; font-size: 2em; width: 40%; margin-top: 40%;'} OK
