.sign-in-top
  .sign-in-top-text.text-center YADL

%center.sign-in-bottom
  .email-input
    .input-group
      %input{type: 'text', class: 'form-control', placeholder: 'Enter your email'}
      %span.input-group-btn
        -# %button.btn.btn-default{type: 'button'}
        -#   OK

  %hr

  %a.gmail-login{href: "monthly-assessment"}
    %p.log-in-google Login with Gmail

  .footer.text-center
    %p @Small Data Lab. CornellTech
