/* sign in */
/* line 13, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.sign-in-top {
  width: 100%;
  height: 50%;
  background-color: rgba(3, 122, 255, 0.6); }

/* line 18, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.sign-in-top-text {
  margin-left: auto;
  margin-right: auto;
  padding: 20% 0;
  font-size: 3.5em;
  color: white; }

/* line 26, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.log-in-google {
  border: solid 0.2em #037aff;
  width: 80%;
  font-size: 1.3em;
  padding: 0.5em;
  color: #037aff; }

/* line 33, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.sign-in-bottom {
  height: 50%;
  width: 100%; }

/* line 38, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.footer {
  color: #979797;
  padding-top: 10%;
  bottom: 0;
  font-size: 1.2em; }

/* line 44, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.center-or-line {
  height: 2.5em;
  width: 90%;
  margin: 3% 0; }

/* line 50, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.form-control {
  font-size: 1.3em !important;
  text-align: center !important;
  height: 5em !important;
  border-radius: 0 !important;
  border: 0.2em solid #037aff !important;
  width: 600px !important; }

/* monthly-assessment */
/* line 62, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
#main-page {
  width: 100%;
  height: 100%; }

/* line 66, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.slick-slider {
  margin-bottom: 0 !important; }

/* line 69, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.footer {
  padding-top: 0 !important; }

/* line 72, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

/* line 88, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
#easy-choice {
  background-image: url("../images/logo/easy_green_ring.png");
  background-size: cover;
  height: 3.1em;
  width: 3.1em; }

/* line 95, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
#easy-choice:hover {
  background-image: url("../images/logo/easy_green_check.png");
  background-size: 100% 100%;
  height: 3em;
  width: 3em; }

/* line 101, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
#moderate-choice {
  background-image: url("../images/logo/moderate_orange_ring.png");
  background-size: 100% 100%;
  height: 3.1em;
  width: 3.1em; }

/* line 108, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
#moderate-choice:hover {
  background-image: url("../images/logo/moderate_orange_check.png");
  background-size: 100% 100%;
  height: 3em;
  width: 3em; }

/* line 115, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
#hard-choice {
  background-image: url("../images/logo/hard_red_ring.png");
  background-size: 100% 100%;
  height: 3.1em;
  width: 3.1em; }

/* line 122, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
#hard-choice:hover {
  background-image: url("../images/logo/hard_red_check.png");
  background-size: 100% 100%;
  height: 3em;
  width: 3em; }

/* line 128, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.footer-text {
  color: #979797; }

/* line 132, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.footer-skip {
  color: #037aff; }

/* line 136, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.grid-right-border {
  border-right: dotted 0.1em #979797 !important; }

/* line 140, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.rate-area {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }

/* line 144, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.activities-top p {
  display: inline-block;
  font-size: 2em;
  color: #037aff;
  margin: 10px; }

/* line 150, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.monthly-image {
  display: inline-block;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative; }

/* line 157, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.img-overlay {
  display: inline-block;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative; }

/* line 163, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.overlay {
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border: 3px solid #037aff; }

/* line 179, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.overlay img {
  text-align: center;
  top: 40%;
  left: 40%;
  position: absolute; }

/* line 185, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.monthly-image p {
  z-index: 10;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 25%;
  top: 40%; }

/* line 194, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.click-overlay {
  opacity: 1; }

/* line 199, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.monthly-image:hover .overlay {
  opacity: 1; }

/* line 202, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.slick-next {
  right: 0 !important; }

/* line 205, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.add-activity-button {
  /*border: .2em solid $yadl-blue */
  width: 80%;
  margin-top: 2em; }
  /* line 210, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
  .add-activity-button img {
    margin: 10px; }

/* line 214, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.activities-bottom {
  margin-top: 3em;
  margin-bottom: 5em; }

/* line 219, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.submit-button {
  background-color: #037aff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  height: 5em; }
  /* line 227, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
  .submit-button p {
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
    color: white; }
  /* line 233, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
  .submit-button:hover {
    border: 1px solid #037aff; }

/* line 236, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.thank_you_page {
  background-color: #037aff;
  width: 100%;
  height: 100%; }

/* line 241, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.form-group {
  margin-bottom: 0 !important; }

/* line 244, /Users/judywu/yadl-web-project/source/stylesheets/all.css.sass */
.form-control {
  height: 3em !important; }
