%center.activities-top
  %h2 Your hard activities:

  .add-activity-button
    -# .form-group
    -#   %input{type: 'text', class: 'form-control', id: 'activity-input', placeholder: 'Add hard activities here...'}
    -# %img{src: 'images/logo/add-blue-circle.png', class: 'blue-addition', style: 'height: 3em; width: 3em; vertical-align: top !important;'}
    -# %p Add hard activity...

    .input-group.input-group-lg
      %input{type: 'text', class: 'form-control', placeholder: 'Add hard activities here...'}

.row.activities-bottom
  .col-xs-4.monthly-image
    %img{src: "images/logo/yadl-background.png", class: 'img-responsive'}
    %p Walking Dog

    %center.overlay
      %img{src: "images/logo/yadl-blue-check.png", style: 'height: 3em;'}
  .col-xs-4.monthly-image
    %img{src: "images/survey-images/1_Bending_M.jpg", class: 'img-responsive'}

    %center.overlay
      %img{src: "images/logo/yadl-blue-check.png", style: 'height: 3em;'}

  .col-xs-4.monthly-image
    %img{src: "images/survey-images/2_Standing up_M.jpg", class: 'img-responsive'}

    .overlay
      %img{src: "images/logo/yadl-blue-check.png", style: 'height: 3em;'}

  .col-xs-4.monthly-image
    %img{src: "images/survey-images/3_Walking_M_a.jpg", class: 'img-responsive'}

    %center.overlay
      %img{src: "images/logo/yadl-blue-check.png", style: 'height: 3em;'}

  .col-xs-4.monthly-image
    %img{src: "images/survey-images/4_Running_F.jpg", class: 'img-responsive'}

    %center.overlay
      %img{src: "images/logo/yadl-blue-check.png", style: 'height: 3em;'}

  .col-xs-4.monthly-image
    %img{src: "images/survey-images/6_Steep Walking_F.jpg", class: 'img-responsive'}

    %center.overlay
      %img{src: "images/logo/yadl-blue-check.png", style: 'height: 3em;'}

  .col-xs-4.monthly-image
    %img{src: "images/survey-images/8_Carring_Upstair_M.jpg", class: 'img-responsive'}

    .overlay
      %img{src: "images/logo/yadl-blue-check.png", style: 'height: 3em;'}

  .col-xs-4.monthly-image
    %img{src: "images/survey-images/13_Uneven surface_F.jpg", class: 'img-responsive'}

    %center.overlay
      %img{src: "images/logo/yadl-blue-check.png", style: 'height: 3em;'}

  .col-xs-4.monthly-image
    %img{src: "images/survey-images/15_Light housework_F.jpg", class: 'img-responsive'}

    %center.overlay
      %img{src: "images/logo/yadl-blue-check.png", style: 'height: 3em;'}

  .col-xs-4.monthly-image
    %img{src: "images/survey-images/17_Getting in a car_M.jpg", class: 'img-responsive'}

    %center.overlay
      %img{src: "images/logo/yadl-blue-check.png", style: 'height: 3em;'}

  .col-xs-4.monthly-image
    %img{src: "images/survey-images/18_Mopping_F.jpg", class: 'img-responsive'}

    %center.overlay
      %img{src: "images/logo/yadl-blue-check.png", style: 'height: 3em;'}

  .col-xs-4.monthly-image
    %img{src: "images/survey-images/9_Downstair_M.jpg", class: 'img-responsive'}

    %center.overlay
      %img{src: "images/logo/yadl-blue-check.png", style: 'height: 3em;'}

  .col-xs-4.monthly-image
    %img{src: "images/survey-images/9_Upstair_M.jpg", class: 'img-responsive'}

    %center.overlay
      %img{src: "images/logo/yadl-blue-check.png", style: 'height: 3em;'}

%a.submit-button{href: 'thank_you_page'}
  %p Submit

